apiVersion: v1
kind: Secret
metadata:
  name: shop-db-secret
  namespace: shopmicro3
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: pass_root
  MYSQL_DATABASE: nom_bbdd
  MYSQL_USER: admin
  MYSQL_PASSWORD: 123